body{
    margin:2px;
    padding:0;
    font-family:'RubikdoodleShadow';
    height:100vh;
        background-image: url(./Overwatch\ Sombra\ Wallpaper\ fan\ art.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    @font-face{
    font-family:'RubikdoodleShadow';
    src:url(./Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf);
    }
    h1{
    text-align:center;
    color:rgb(0, 0, 0);
    font-size:40px;
    position: absolute;
    left:495px;
    top:200px;
    }
    .contenedor-mayor{
    margin:10px;
    padding:20px;
    height:100vh;
    }
    .subcontenedor{
    height:100vh;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(4,1fr);
    grid-template-areas:
    "n1 n1 n2 n2 n3 n3"
    "n1 n1 n2 n2 n3 n3"
    "n4 n4 n5 n5 n6 n6"
    "n4 n4 n5 n5 n6 n6"
    ;
    }
    .cajas{
    border:solid #fff;
    border-radius:10px;
    margin:5px;
    margin-bottom:50px;
    display:flex;
    justify-content:center;
    align-items:end;
    }
    a{
    font-size:25px;
    text-decoration:none;
    color:rgb(204, 0, 255);
    text-align:center;
    }
    #primer-juego{
    background-image:url(./memoria.jpg);
    background-size:cover;
    grid-area:n1;
    }
    #segundo-juego{
    background-image:url();
    background-size: cover;
    grid-area:n3;}
    
    #tercer-juego{
    background-image:url();
    background-size: cover;
    grid-area:n5 ;
    }
    
    h3 {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px; 
    backdrop-filter: blur(5px);
    }
    
    h3:hover{
    color:black;
    }