.granja{
margin:5px;
padding:0;
font-family: cursive;
background-image:url(https://img.freepik.com/vector-gratis/granja-escena-naturaleza-granero-molino-viento-espantapajaros_1308-51384.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1703808000&semt=ais);
background-size: cover;
background-repeat: no-repeat;
}
h1{
text-align: center;
color:white;
}
#imagenram{
display:flex;
justify-content:center;
align-items:center;
}
.imagen{
border:solid;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
width:300px;
height:300px;
}
.contenedor{
padding:30px;
}
.divinput{
margin:5px;
display:flex;
justify-content:center;
}
.divboton{
display:flex;
justify-content: center;
}
.input{
margin:10px;
text-align:center;
width:400px;
height:40px;
border:solid;
border-radius:20px;
font-size:25px;
font-family:cursive;
}
.primerjuego{
width:100px;
height:40px;
border:none;
font-family: cursive;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
}
.primerjuego:hover{
width:112px;
height:56px;
border:solid;
}
#regresar{
text-decoration:none;
padding-left:40px;
padding-top:20px;
display:flex;
align-items: center;
color:white;
font-size:50px;
}
h5{
font-size:20px;
}

/*//////////////////////////////////Estilos de sistema solar/////////////////////////////////////////*/
.espacio {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    font-family:'Lekton';
    text-align: center;
}

@font-face{
    font-family:'Lekton';
    src:url(../../Lekton/Lekton-Regular.ttf);
    }
.caja-texto {
    display:flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    width:100%;
    background-color: #000000;
    text-align: center;
    z-index: 1000;
    border:solid 2px #fff;
    padding:10px;
}
.texto {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin: 100px;
    margin-block: 0px;
}
.espacio_2 {
    margin-top: 100px;
    height: 98vh;
    padding: 20px;
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
     "n1 n1 n1 n4"
     "n1 n1 n1 n4"
     "n1 n1 n1 n4";
}
.planetas {
   border:solid 1px;
   display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    margin: 20px;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    overflow: visible;
}
.planetas img {
    width:100px;
    height:100px;
}
    #Mercurio {
    filter: drop-shadow(0 0 10px rgba(55, 55, 55, 0.628));
    grid-area:n1;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:250px;
    height:250px;
    z-index:8;
    left:280px;
    }
    #Mercurio>img{
        height:30px;
        width:30px;
        animation:Mercurio-rotation 20411ms linear infinite;
        }
        @keyframes Mercurio-rotation {
            0%{
            transform:rotate(0deg) translate(125px) rotate(0deg);
            }
            100%{
            transform:rotate(360deg) translate(125px) rotate(360deg);  
            }
            } 
    #Sol {
    filter: drop-shadow(0 0 10px rgba(240, 248, 13, 0.621));
    grid-area:n1;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:200px;
    height:200px;
    z-index:9;
    left:310px;
    border:none;
    }
    #Sol>img{
    width:220px;
    height:220px;
    }
    #Venus{
    filter: drop-shadow(0 0 10px rgb(97, 97, 97));
    grid-area:n1;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    height:300px;
    z-index:7;
    left:255px;
    }
    #Venus>img{
        height:30px;
        width:30px;
        animation:Venus-rotation 48600ms linear infinite;
        }
        @keyframes Venus-rotation {
            0%{
            transform:rotate(0deg) translate(150px) rotate(0deg);
            }
            100%{
            transform:rotate(360deg) translate(150px) rotate(360deg);  
            }
            } 
    #Tierra{
    grid-area:n1;
    filter: drop-shadow(0 0 10px rgba(49, 194, 242, 0.681));
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:400px;
    height:400px;
    z-index:6;
    left:205px;
    }
    #Tierra>img{
        height:30px;
        width:30px;
        animation:Tierra-rotation 34600ms linear infinite;
        }
        @keyframes Tierra-rotation {
            0%{
            transform:rotate(0deg) translate(200px) rotate(0deg);
            }
            100%{
            transform:rotate(360deg) translate(200px) rotate(360deg);  
            }
            }     
    #Marte{
    filter: drop-shadow(0 0 10px rgba(248, 40, 13, 0.64));
    grid-area:n1;
    position:relative;
    left:102px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:450px;
    height:450px;
    z-index:5;
    left:180px;
    }
    #Marte>img{
        height:30px;
        width:30px;
        animation:Marte-rotation 40021ms linear infinite;
        }
    @keyframes Marte-rotation {
    0%{
    transform:rotate(0deg) translate(225px) rotate(0deg);
    }
    100%{
    transform:rotate(360deg) translate(225px) rotate(360deg);  
    }
    }        
    #Jupiter{
    grid-area:n1;
    filter: drop-shadow(0 0 10px rgba(255, 174, 0, 0.734));
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:500px;
    height:500px;
    z-index:4;
    left:155px;
    }
    #Jupiter>img{
        height:40px;
        width:40px;
        animation:Jupiter-rotation 66001ms linear infinite;
        }
    @keyframes Jupiter-rotation {
    0%{
    transform:rotate(0deg) translate(250px) rotate(0deg);
    }
    100%{
    transform:rotate(360deg) translate(250px) rotate(360deg);  
    }
    }    
    #Saturno{
    grid-area:n1;
    filter: drop-shadow(0 0 10px rgba(158, 108, 0, 0.657));
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:580px;
    height:580px;
    z-index:3;
    left:118px;

    }
    #Saturno>img{
        height:40px;
        width:40px;
        animation:Saturno-rotation 48600ms linear infinite;
        }
    @keyframes Saturno-rotation {
     0%{
    transform:rotate(0deg) translate(290px) rotate(0deg);
    }
    100%{
    transform:rotate(360deg) translate(290px) rotate(360deg);  
    }
        }

    #Urano{
    grid-area:n1;
    filter: drop-shadow(0 0 10px rgba(54, 165, 255, 0.695));
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:625px;
    height:625px;
    z-index:2;
    left:95px;
}
#Urano>img{
height:40px;
width:40px;
animation:Urano-rotation 50900ms linear infinite;
}
@keyframes Urano-rotation {
    0%{
    transform:rotate(0deg) translate(312.5px) rotate(0deg);
    }
    100%{
    transform:rotate(360deg) translate(312.5px) rotate(360deg);  
    }
}
    #Neptuno{
    filter: drop-shadow(0 0 10px rgba(112, 150, 255, 0.7));
    grid-area:n1;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width:750px;
    height:750px;
    z-index:1;
    left:55px;
}
#Neptuno > img{
height:50px;
width:50px;
animation:Neptuno-rotation 53954ms linear infinite;
}
@keyframes Neptuno-rotation {
0%{
transform:rotate(0deg) translate(375px) rotate(0deg);
}
100%{
transform:rotate(360deg) translate(375px) rotate(360deg);  
}
}
.informacion-oculta{
    background-color: #00000065;
    font-size: 18px;
    height: 92%;
    text-align:center;
    margin-top: 20px;
    padding: 20px;
    grid-area: n4;
    border: solid 1px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informacion-oculta img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}
.planetas:hover {
    cursor: pointer;
}
.informacion-oculta:hover {
    box-shadow: 0 0 10px #fff;
    width:500px;
    height:92%;
}
.segundojuego{
font-family:'Lekton';
width:300px;
height:100px;
border-radius:none;
font-size:40px;
background-color:rgb(54, 179, 50);
border:none;
margin:20px;
color:white;
transition:height,width,font-size 0.5s;
border-radius:20px;
}
.segundojuego:hover{
box-shadow:0px 0px 10px rgb(9, 255, 0);
text-shadow:0px 0px 10px rgb(9, 255, 0);
width:312px;
height:108px;
font-size:48px;
}
#regresar-1{
font-size:40px
}
a{
color:white;
text-decoration: none;
}
.nombres{
    font-size:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
